#login-form {
	margin-top: 20%;
	margin-left: 35%;
}

#userroom {
	margin-top: 25px;
}

#login {
	margin-top: 25px;
	width: 60px;
	height: 25px;
	background-color: cyan;
	color: navy;
}

#room-id {
	margin-top: 25px;
}